<!DOCTYPE html>

<html lang="pt-br">
  <head>
    {% include "heading.html" %}

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</head>
  <body>
    <!-- menu -->
    <nav class="nav-extended teal lighten-1">
     <div class="nav-wrapper">
       <a class="brand-logo center">Auth</a>
       <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
       <ul id = "nav-mobile"  class="right hide-on-med-and-down">
         <li><a href="/auth/login/">Entrar</a></li>
         <li><a href="/auth/signup/">Cadastrar-se</a></li>
       </ul>
     </div>
    </nav>

    <ul class="sidenav" id = "mobile-demo">
     <li><a href="/auth/login/">Entrar</a></li>
     <li><a href="/auth/signup/">Cadastrar-se</a></li>
    </ul>

    <!-- container -->
    <div class="container">

      <div class="row">
        <div class="col s6 offset-s4">
          <img src="{{ url_for('static', filename='logo.png') }}">
        </div>
      </div>

      <h4>Entrar</h4>

      <form action="/auth/login/portal" method="POST">
        {% if error %}
          <div class="row">
            <span style="font-weight: bold; color: red;">{{error}}</span>
          </div>
        {% endif %}

        {% if warning %}
          <div class="row">
            <span style="font-weight: bold; color: green;">{{ warning }}</span>
          </div>
        {% endif %}

        <div class="row">
          <div class="input-field s12 m12 l12">
            <input name="email" id="email" type="email">
            <label for="email">E-mail</label>
          </div>

          <div class="input-field s12 m12 l12">
            <input name="password" id="password" type="password">
            <label for="password">Senha</label>
          </div>
        </div>

        <div class="row">
          <button type="submit" class="btn  col s12 m12 l6 offset-l6 green">Entrar</button>

        </div>
      </form>
    </div>

  </body>
</html>
